/*მთავარი*/
.logo {
	vertical-align: middle;
}
.nav-a {
color: #EE4036;
}
.nav {
	color: #3D58A6;
}
.buner{
    margin-top: 10px;
    margin-bottom: 10px;

}
.tube {
	margin-right: 30px;
}
.fb {
	margin-left:30px ;
}
.divider {
	width: 1px;
	height: 27px;
	background-color: #363E97;
	display: inline-block;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
}
.active {
	display: inline-block;
	font-size: 22px;
	margin-left: 10px;
}

/*/news*/

.news-article{
	background-color: #E6E6E6;
}
.date {
	width: 56px;
	height: 56px;
	background-color: #3D58A6;
	padding: 7px 10px;
	font-size: 37px;
	color: white;
	margin-top: 10px;
	margin-bottom: 3px;
}
.h3{
	margin-top: 18.5px;
	margin-bottom: 16.5px;
}
.text-block{
	display: inline-block;
	width: 929px;
	vertical-align: top;
}
.image-block {
	vertical-align: top;
	margin-right: 39px;
}
.p1 {
	margin bottom: 21px;
}
.statia2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*cotact page*/


.section-contact{
	background-color:#E6E6E6 ;
	margin-top: 10px;
	margin-bottom: 10px;
}
.conteiner {

	width: 1177px;
	margin: 0 auto;
}
.left-block {
	vertical-align: top;
	display: inline-block;
	margin-right: 75px;
}
.right-block{
	vertical-align: top;
	display: inline-block;
}
